body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
}

.warn {
    border-radius: 15px;
    background-color: #ffff00;
    color: #000000;
    transition: .5s;
    width: 28rem;
    padding: 1rem;
    margin: 1rem;
}

.warn.close {
    scale: 0;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#search {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

#search-button {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    cursor: pointer;
}

#result {
    width: 32rem;
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.word {
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.word_title {
    font-weight: bold;
}

.word_type {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0.25rem;
}
